

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:4px;margin-left: 4cm;}
.tg td{font-family:arial;color:#2e6955;font-size:12px;padding:2px 1px;border-style:none;overflow:hidden;word-break:normal; }
.tg th{font-family:arial;color:#2e6955;font-size:12px;font-weight:normal;padding:5px 1px;overflow:hidden;word-break:normal;}
.tg .tg-iu59{font-family:arial;  font-weight: bold;font-size:14px;  font-weight: bold;text-decoration:underline;}
</style>


<table class="tg"><tr><th class="tg-iu59">All Contact Details</th></tr></table><br>
<% @contact.each do |contact| %>

 <table class="tg" >
 
    <th class="tg-031e" rowspan="5">
        <img src="/data/<%= contact.photo %>" width="80" height="90"/>&nbsp&nbsp&nbsp&nbsp
    </th>
    <th class="tg-iu59" colspan="2" align="left"><%= contact.firstname %> &nbsp <%= contact.lastname %></th>
  </tr>
  <tr>
    <td class="tg-031e">Gender</td>
    <td class="tg-031e">&nbsp&nbsp<%= contact.image %></td>
  </tr>
  <tr>
    <td class="tg-031e">Email</td>
    <td class="tg-031e">&nbsp&nbsp<%= contact.emailid %></td>
  </tr>
  <tr>
    <td class="tg-031e">Phone</td>
    <td class="tg-031e">&nbsp&nbsp<%= contact.mno %></td>
  </tr>
  <tr>
    <td class="tg-031e">Address</td>
    <td class="tg-031e">&nbsp&nbsp<%= contact.add %></td>
  </tr> 
 
</table> <hr><% end %>
 